template
	require(from="./pomodoro-clock.scss")
	require(from="../fashion-clock/fashion-clock")
	.pomodoro-clock(style="${'background: linear-gradient(to bottom, '+this.primaryColor+', '+this.secondaryColor+')'}")
		.pomodoro-header
			h2.product-name 
				a.toggle-menu(style="font-weight:bolder" click.trigger="this.refresh({isControlVisible:true})") &#9776;
				| DigiPomodoro
		.box-clock
			fashion-clock(
				minutes="${59 - this.minutes}"
				seconds="${59 - this.seconds}"
				hours="${this.hours}"
			)
		div(class="${'box-control '+(this.isControlVisible ? 'is-visible':'')}")
			.sub-box-control
				label.display-message
					textarea(change.bind="this.message") ${this.message}
				label.display-minutes ${this.configuredMinutes} minutes
				input(value="${this.configuredMinutes}" type="range" step="1" min="1" max="59" change.trigger="this.changeMinutesHandler")
				label 
					input(type="color" value="${this.primaryColor}" change.bind="this.primaryColor")
					span Primary color				
				label
					input(type="color" value="${this.secondaryColor}" change.bind="this.secondaryColor")
					span Secondary color
		div(class="${'box-message '+(this.isNotifying ? 'is-visible' : '')}" click.trigger="this.reStart")
			.sub-box-message 
				h2 ${this.message}
				audio(if="this.isNotifying" autoplay)
					source(src="assets/computer-magic.mp3" type="audio/mpeg")
		.box-backdrop.box-control-backdrop(if="this.isControlVisible"  click.trigger="this.refresh({isControlVisible:false})")
		.box-backdrop.box-message-backdrop(if="this.isNotifying"  click.trigger="this.reStart")
		.pomodoro-footer
			h5
				| DigiPomodoro 1.2.1 is made with 
				a(href="https://ferrugemjs.github.io/home-page/") ferrugemjs

		