template
	require(from="./pomodoro-clock.scss")
	require(from="../fashion-clock/fashion-clock")
	.pomodoro-clock(style="${'background-color:'+this.fillColor}")
		h2.product-name DigiPomodoro
		.box-clock(click.trigger="this.refresh({isControlVisible:true})")
			fashion-clock(
				primary-color="${this.primaryColor}" 
				secondary-color="${this.secondaryColor}"
				minutes="${this.minutes}"
				seconds="${this.seconds}"
				hours="${this.hours}"
			)
		.box-control(if="this.isControlVisible")
			.sub-box-control
				label.display-message
					textarea(change.bind="this.message") ${this.message}
				label.display-minutes ${this.configuredMinutes} minutes
				input(value="${59 - this.minutes}" type="range" step="1" min="1" max="59" change.trigger="this.changeMinutesHandler")
				label 
					input(type="color" value="${this.primaryColor}" change.bind="this.primaryColor")
					span Primary color				
				label
					input(type="color" value="${this.secondaryColor}" change.bind="this.secondaryColor")
					span Secondary color
				label
					input(type="color" value="${this.fillColor}" change.bind="this.fillColor")
					span Fill color
				label(style="text-align:right;font-size:10px")
					| DigiPomodoro v-1.0.2
		.box-message(if="this.isNotifying" click.trigger="this.reStart")
			.sub-box-message 
				h2 ${this.message}
				audio(autoplay)
					source(src="assets/computer-magic.mp3" type="audio/mpeg")
		.box-backdrop(if="this.isControlVisible"  click.trigger="this.refresh({isControlVisible:false})")
		.pomodoro-footer
			| DigiPomodoro is made with 
			a(href="https://ferrugemjs.github.io/home-page/") ferrugemjs

		